requests
beautifulsoup4
pandas
pylint
sqlalchemy
pytz
django-cors-headers
newsapi-python
python-dateutil
pyyaml
googletrans
django
django-rest-framework
django-webpack-loader
gunicorn
django-heroku
djangorestframework-simplejwt
djoser
factory-boy